---
import { Separator } from "@components/ui/separator";
import { InstagramIcon } from "lucide-react";
import SignOutButton from "@components/auth/SignOutButton.astro";
import SignedIn from "@components/auth/SignedIn.astro";
---

<footer class="flex flex-col justify-self-end p-6" >
    <div class="inline-flex gap-2 my-2 underline">
        <a href="https://www.instagram.com/nazarena.batalla/">
            <InstagramIcon className="cursor-pointer" />
        </a>
        <SignedIn>
            <SignOutButton className=""> Cerrar Sesión </SignOutButton>
        </SignedIn>
    </div>

    <Separator className="bg-negro/20 my-2" />
    <span class="inline-flex gap-2 text-sm"> © 2024 Nazarena Batalla™ </span>
    <span class="block text-sm"> All Rights Reserved. &nbsp; </span>
</footer>
