---
import { CardTitle } from "@components/ui/card";
import { Button } from "@components/ui/button";
import { FileStack, PlusIcon } from "lucide-react";
import { Separator } from "@components/ui/separator";
import nazaPortrait from "@assets/root-program/naza-root-program.png";
import { Image } from "astro:assets";
---

<div class="flex flex-col items-start w-full gap-2 p-6 pb-0">
    <a href="/cursos/root-program" class="w-full">
        <Image
            alt={"Nazarena Batalla en un retrato de estudio."}
            src={nazaPortrait}
            width={100}
            format="webp"
            class={"rounded-full cursor-pointer w-20 h-20 shadow-lg"}
        />
    </a>
    <CardTitle className="text-left text-xl leading-6 pb-3">
        Nazarena Batalla Mentora de Emprendedoras
    </CardTitle>
    <Button
        className=" px-6  h-14 bg-blanco group rounded-lg hover:scale-105 transition-transform  border-l-8  border-primary hover:bg-blanco flex justify-between w-full max-w-52 shadow-lg"
    >
        <span class="text-left leading-5 text-xl">Agendar Sesion</span>
        <PlusIcon
            className="bg-primary  rounded-full p-2 w-10 h-10 	stroke-negro shadow-2xl shadow-green-700	"
        />
    </Button>
    <Separator className="bg-negro/20 my-4 px-6" />
    <a href="/cursos/root-program/recursos" class="text-left inline-flex gap-2 text-lg leading-6">
        <FileStack className=" w-4 " />
         Recursos
    </a>
    <Separator className="bg-negro/20 mt-4 px-6" />
</div>
