---
// import { SignIn, SignedIn } from "@clerk/clerk-react";

import LessonsList from "@components/root-program/LessonsList.astro";
import CoursesLayout from "@components/layouts/CoursesLayout.astro";
const { userEmail } = Astro.locals;
---

<CoursesLayout
    description={"sitio de melina batalla, comunicadora visual"}
    title={"Melina Batalla"}
>
    <div class="h-full min-h-svh flex justify-center items-center">
        <div class="flex justify-between px-6">
            <div
                class="xxl:my-8 flex flex-col gap-10 mx-auto px-0 text-left max-w-screen-lg"
            >
                <h1
                    class="text-6xl text-left md:text-6xl leading-[3rem] tracking-tight text-negro font-bold"
                >
                    Root program
                </h1>
                <div>
                    Bienvenida {userEmail}
                    "Si no puedes volar, corre; si no puedes correr, camina; si no
                    puedes caminar, gatea, pero sigue avanzando hacia tu meta". Martin
                    Luther King.
                </div>
                <LessonsList />
            </div>
        </div>
    </div>
</CoursesLayout>
