---
import melinaPortrait from "@assets/root-program/naza-root-program.png";
import ButtonCTA from "@components/ui/buttonCTA.astro";
import { Image } from "astro:assets";
---

<section class="bg-marmol h-full w-full rounded-lg p-6 mt-24 xs:p-10 ">
    <div class="flex flex-col gap-4">
        <!-- <Image
            alt={"Nazarena Batalla en un retrato de estudio."}
            src={melinaPortrait}
            width={576}
            format="webp"
            class={"rounded-lg mx-auto -mt-24"}
        /> -->
        <h3 class="text-2xl tracking-tight">
            Si compras ya, <strong>sumamos a tu compra:</strong>
        </h3>
        <div class="flex flex-col gap-2 self-center text-xl tracking-tight">
            <span
                ><strong> + Plantillas </strong>de creación de contenido
            </span>
            <span
                ><strong> + Guiones </strong> especiales para vender por stories
            </span>
            <span
                ><strong> + Regalo Salvavidas </strong> en caso de Crisis
            </span>
        </div>
        <ButtonCTA className="bg-blanco w-full max-w-md mx-auto"
            >Aprovechar todo por $17</ButtonCTA
        >
    </div>
</section>
