---


import { BonusCard } from "./BonusCard";
import { CartItems } from "./CartItems";
import  {CompleteOrder}  from "./order";


---

<section class="h-full p-6 sm:p-10 flex flex-col gap-8">

    <BonusCard client:visible />
    <h3 class="text-2xl font-semibold leading-none tracking-tight text-left">
        Resumen de Compra
    </h3>
    <CartItems client:idle />

    <CompleteOrder client:only />
</section>

<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
./Completeorder./Order./order