---
import ButtonCTA from "@components/ui/buttonCTA.astro";
---

<section class="h-full p-6 sm:p-10 rounded-md">
    <div class="px-0 flex flex-col items-center gap-4 text-negro">
        <div class="flex flex-col gap-8">
            <h1
                class="text-xl text-left md:text-6xl text-[#282A29] leading-7 font-bold text-pretty"

            >
                Como usar redes sociales para vender tus servicios sin metodos
                complejos:
            </h1>
            <div class="w-full relative grow h-full">
                <iframe
                    allowfullscreen
                    class="w-full aspect-video"
                    scrolling="no"
                    src={"https://www.youtube.com/embed/H7QzEvpmDek"}
                >
                    {" "}
                </iframe>
            </div>
            <div class="pt-6 w-full flex justify-center">
                <ButtonCTA className="motion-safe:animate-bounce ">
                    Obtener Ahora!
                </ButtonCTA>
            </div>
        </div>
    </div>
</section>
