---
import { LessonProgress } from "astro:db";
import { completedLessonsStore } from "@lib/bonusStore";
import ListItems from "./ListItems";
import type { ILesson } from "db/types";
import { Lesson, db, eq } from "astro:db";
import ListItemsProvider from "./Queryprovider";

interface Props {
    lessons?: Pick<ILesson, "id" | "name" | "slug">[];
}

const { slug } = Astro.params as {
    slug: string;
};
//console.log("locals", Astro.locals);

// const lessonscompleted = await db
//     .select()
//     .from(LessonProgress)
//     .where(eq(LessonProgress.userId, userId as string));

//  console.log("lessonscompleted", lessonscompleted);

// console.log("cokkies", Astro.cookies.get("__session"));

// const sessionid = Astro.cookies.get("__session");

// const session = await clerk.sessions.getSession(sessionid?.value as string);
// console.log("session", session);
// Query the lessonscompleted table to find orders completed by a user
---

<section class="pl-6 pr-6">
    <h4 class="font-semibold text-xl pb-2">Contenido del curso</h4>
    {(<ListItemsProvider transition:persist-props client:only slug={slug} />)}
</section>
