<div id="14f8f77c-db5d-4f9f-b850-755a4289c6d7"></div>
<script is:inline>
    if (
        !document.querySelector(
            'script[src^="https://player.pandavideo.com.br/api.v2.js"]',
        )
    ) {
        let s = document.createElement("script");
        s.src = "https://player.pandavideo.com.br/api.v2.js";
        s.async = true;
        document.head.appendChild(s);
    }
    window.pandascripttag = window.pandascripttag || [];
    window.pandascripttag.push(function () {
        const p = new PandaPlayer(
            "panda-05c02b32-7443-4047-8b82-a33bddfce763",
            {
                onReady() {
                    p.loadButtonInTime({ fetchApi: true });
                    p.setParentWindowUrl();
                },
            },
        );
    });
</script>
