---
import { Image } from "astro:assets";
import bonusImage from "@assets/root-program/potenciador-blur.png";
import { CardTitle } from "@components/ui/card";
import { CompleteOrder } from "./CompleteOrder";
import CompleteOrderAstro from "./CompleteOrder.astro";
import BonusSpotify from "@components/lessons/BonusSpotify.astro";
import MercadoPagoButton from "./mercadopago/MercadoPagoButton";
---

<section class="">
    <div
        id="skeleton"
        class="w-full h-full max-h-[520px] animate-pulse bg-marmol p-4 rounded-xl aspect-[272/442] md:aspect-[989/343]"
    >
    </div>
    <div
        id="bonus-container"
        class="bg-yema hidden h-auto flex-col  gap-4 rounded-xl p-4"
    >
        <div class="flex gap-4 h-auto flex-col justify-between w-full">
            <div class="flex flex-col gap-4">
                <div class="">
                    <Image
                        alt={"potnciador de resultados blur."}
                        src={bonusImage}
                        widths={[450, 960, 1440, bonusImage.width]}
                        sizes={`(max-width: 360px) 450px, (max-width: 720px) 960px, (max-width: 1600px) 1440px, ${bonusImage.width}px`}
                        format="webp"
                        loading="eager"
                        class={"rounded-lg w-full cursor-pointer  aspect-auto shadow-lg "}
                    />
                </div>
                <CardTitle
                    className="text-2xl pb-2 text-left md:text-4xl leading-7 tracking-tight text-negro font-bold"
                >
                    Potenciador de resultados
                </CardTitle>
                <span>
                    En este entrenamiento, te compartiré como multiplicar tus
                    ganancias de tus servicios x2, x3 (Que no te va a llevar más
                    de 30 minutos aplicar).
                </span>
            </div>


                <!-- <CompleteOrder variant="secondary" client:only
                    >Obtener Ahora</CompleteOrder
                > -->
                <CompleteOrderAstro
                    transition:persist="slide"
                    variant="secondary"
                >
                    Comprar con USD
                </CompleteOrderAstro>
                <MercadoPagoButton client:load variant="secondary" > </MercadoPagoButton>

        </div>
    </div>
    <div id="bonus-spotify" class="w-full h-full">
        <BonusSpotify />
    </div>
</section>
<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>

<script>
    import { auth } from "@lib/authStore";

    document.addEventListener("astro:page-load", (ev) => {
        const bonusContainer = document.getElementById("bonus-container")!;
        const bonusSpotify = document.getElementById("bonus-spotify")!;

        const skeleton = document.getElementById("skeleton")!;

        auth.subscribe((clerk) => {
            if (!!clerk && clerk?.loaded) {
                if (clerk.user) {
                    const bonus = clerk.user?.publicMetadata?.bonus;
                    if (bonus !== "true") {
                        skeleton?.classList.add("hidden");
                        bonusContainer?.classList.add("flex");
                        bonusContainer?.classList.remove("hidden");
                    } else {
                        console.log("tiene bonus", bonus);
                        skeleton?.classList.add("hidden");
                        bonusContainer?.classList.add("hidden");
                        bonusContainer?.classList.remove("flex");
                        bonusSpotify?.classList.remove("hidden");
                    }
                } else {
                    skeleton?.classList.add("hidden");
                    bonusSpotify?.classList.add("hidden");
                }
            }
        });
        /* eslint-disable no-alert, no-console */
    });
    // document.addEventListener("astro:after-swap", (ev) => {
    //     const bonusContainer = document.getElementById("bonus-container")!;
    //     const bonusSpotify = document.getElementById("bonus-spotify")!;

    //     const skeleton = document.getElementById("skeleton")!;
    //     console.log("skeleton", skeleton.id);
    //     console.log("bonusSpotify", bonusSpotify.id);
    //     console.log("bonusContainer", bonusContainer.id);
    //     auth.subscribe((clerk) => {
    //         if (!!clerk && clerk?.loaded) {
    //             if (clerk.user) {
    //                 const bonus = clerk.user?.publicMetadata?.bonus;
    //                 if (bonus !== "true") {
    //                     skeleton?.classList.add("hidden");
    //                     bonusContainer?.classList.add("flex");
    //                     bonusContainer?.classList.remove("hidden");
    //                 } else {
    //                     console.log("tiene bonus", bonus);
    //                     skeleton?.classList.add("hidden");
    //                     bonusContainer?.classList.add("hidden");
    //                     bonusContainer?.classList.remove("flex");
    //                     bonusSpotify?.classList.remove("hidden");
    //                 }
    //             } else {
    //                 skeleton?.classList.add("hidden");
    //                 bonusContainer?.classList.remove("hidden");
    //                 bonusContainer?.classList.add("flex");
    //                 bonusSpotify?.classList.add("hidden");
    //             }
    //         }
    //     });
    //     /* eslint-disable no-alert, no-console */
    // });
</script>
