---
import CustomSection from "@components/ui/CustomSection.astro";
---

<CustomSection color="negro">
    <div class="h-auto text-3xl mt-5 mx-auto">
        <h1 class="">HAY PERSONAS QUE ESTÁN ESPERANDO TU AYUDA</h1>
    </div>
    <div class="mt-3 mx-auto">
        <h3 class="">
            NO LOS HAGAS ESPERAR, ¡COMIENZA YA CON LA PRIMERA CLASE!
        </h3>
    </div>
</CustomSection>
