---
import CustomSection from "@components/ui/CustomSection.astro";
import { Image } from "astro:assets";
import review1 from "@assets/descubri-tu-escencia/1.png";
import review2 from "@assets/descubri-tu-escencia/2.png";
import review3 from "@assets/descubri-tu-escencia/3.png";
import review4 from "@assets/descubri-tu-escencia/4.png";
import review5 from "@assets/descubri-tu-escencia/5.png";
import CarouselScroll from "../descubriTuEscencia/CarruouselScroll.tsx";
import SnapCarousel from "@components/descubriTuEscencia/SnapCarousel.tsx";

---

<CustomSection color="negro">
    <div class="h-auto text-3xl mt-5 mx-auto">
        <h2 class="whitespace-break-spaces">
            PALABRAS DE AMOR SOBRE MIS ACOMPAÑAMIENTOS
        </h2>
    </div>
    

   

    <!-- <SnapCarousel
            images={[review1, review2, review3, review4, review5]}
            client:only="react"
        /> -->
</CustomSection>
