---
import CustomSection from "@components/ui/CustomSection.astro";
import { Button } from "@components/ui/button";
---

<CustomSection color="negro">
    <div class="h-auto text-3xl mt-5 mx-auto">
        <h2 class="">ERES MI PRIORIDAD, QUIERO DARTE TODO DE MI!</h2>
    </div>
    <div class="mt-3 mx-auto text-center">
        <p class="pb-4">
            Por eso quiero que sepas que si en este momento necesitás un
            acompañamiento más personalizado donde logres:
        </p>
        <p class="">
            - Definir un mensaje claro que conecte con tu audiencia y te permita
            llegar a quienes querés ayudar
        </p>
        <p class="">
            - Acabar con la incertidumbre de “¿Lo estaré haciendo bien, mal,
            estaré perdiendo mi tiempo?”
        </p>
        <p class="">
            - Construir tu negocio y servicios desde el gozo, trabajar con
            quienes realmente conectas energéticamente
        </p>
        <p class="">
            - Salir del estancamiento con un plan de acción semanal y mi
            acompañamiento
        </p>

        <p class="">
            Mi programa «Root mentory» te ayuda a lograr todo esto. Si te
            interesa solo dale click al botón.
        </p>
    </div>
    <Button className="w-full max-w-lg">Quiero Accionar!</Button>
</CustomSection>
