---
import CoursesLayout from "@components/layouts/CoursesLayout.astro";
import { eq } from "astro:db";
import { and } from "astro:db";
import { Lessons } from "astro:db";
import { db } from "astro:db";

console.log(Astro.params.slug);

const [lesson] = await db
    .select()
    .from(Lessons)
    .where(
        and(
            eq(Lessons.slug, Astro?.params?.slug as string),
            eq(Lessons.courseSlug, Astro?.params?.CourseSlug as string),
        ),
    );
console.log(lesson);
---

<CoursesLayout>
    <div class="h-full">
        <section class="h-screen">
            <h1>{lesson.name}</h1>
            <p>{lesson.description}</p>
        </section>
    </div>
</CoursesLayout>
