---
// import { SignIn, SignedIn } from "@clerk/clerk-react";
import SignedIn from "@components/auth/SignedIn.astro";
import { db, Course, Lesson, eq } from "astro:db";

import UserButton from "@components/auth/UserButton.astro";
import MainLayout from "@components/layouts/MainLayout.astro";

import App from "@components/layouts/Iniciar-sesion";
import SignedOut from "@components/auth/SignedOut.astro";
import LessonsList from "@components/root-program/LessonsList.astro";
import CoursesLayout from "@components/layouts/CoursesLayout.astro";

const invitationkey = Astro.url.searchParams.get("__clerk_ticket");
console.log("invitationkey", invitationkey);

const { CourseSlug } = Astro.params;
const [course] = await db
    .select()
    .from(Course)
    .where(eq(Course.slug, CourseSlug as string));

console.log("course", course);

if (!course) {
    return Astro.redirect("/cursos/root-program/404");
}
const lessons = await db
    .select()
    .from(Lesson)
    .where(eq(Lesson.courseId, course.id));



---

<CoursesLayout
    description={"sitio de melina batalla, comunicadora visual"}
    title={"Melina Batalla"}

>
    <div class="h-full min-h-svh flex justify-center items-center">
        <div class="flex justify-between px-6">
            <div
                class="xxl:my-8 flex flex-col gap-10 mx-auto px-0 text-left max-w-screen-lg"
            >
                <h1
                    class="text-6xl text-left md:text-6xl leading-[3rem] tracking-tight text-negro font-bold"
                >
                    {course.name}
                </h1>
                <span>{course.description}</span>
                <LessonsList lessons={lessons} />
            </div>
        </div>
    </div>
</CoursesLayout>
