---
import Accordion from "../components/ui/Accordion";
import Button from "../components/ui/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="identidad visual">
    <div class="flex flex-col gap-3 justify-center">
        <section class="flex flex-col gap-4 justify-center p-6">
            <img class="w-full" width="320px" src="/portrait-melina.jpg" />
            <h1>Identidad Visual</h1>
            <p>
                Obtené una marca que genere ventas, confianza en tus clientes,
                que sea única y cuente una historia, con un proceso 100%
                confiable y transparente, en que se tendrán en cuenta tus ideas.
            </p>
            <div class="flex w-full flex-wrap gap-3 justify-start">
                <Button><h3>Es para mi?</h3></Button>
                <Button><h3>Lo necesito</h3></Button>
            </div>
        </section>
        <section class="flex flex-col bg-negro px-6 gap-4 py-8 text-blanco">
            <h2>Identidad que no vende.</h2>
            <p>
                Si llegaste hasta aquí es porque, o no tenés una identidad o la
                que tenés no te agrada. Pero te preguntas: y si no me gusta como
                queda? y si no lo puedo pagar? y si no tienen en cuenta mis
                gustos? y si no lo necesito? y si otro lo hace más barato? y si
                pago y no me lo entregan?
            </p>
            <p>
                Te entiendo, todos mis clientes llegan con los mismos miedos. Te
                tengo buenas noticias, a pesar de llegar con esos miedos, me
                contratan felices. Porque creé un metodo de trabajo que asegura
                al 100% tu tranquilidad.
            </p>
        </section>
        <section class="flex flex-col gap-4 justify-center p-6">
            <h3>Alex creador de Doisi te comparte su experiencia:</h3>
            <img class="w-full" width="320px" src="/portrait-melina.jpg" />
            <h2>Te prometo que...</h2>
            <p>
                -Vas a ser participe activo del proceso (sino, no puedo
                trabajar). <br /> -Tu marca va a transmitir confianza y profesionalismo.
                <br />
                -Vas a tener una marca única, estética, funcional, hecha a medida-Recibirás
                todo el trabajo en tiempo y forma.
            </p>
            <p>
                Pero, si creés que vas a recibir el mismo resultado tanto por
                100 dolares como por 1000 dolares, entonces contratá al de 100
                dolares (aunque ahí puede que tus miedos se conviertan en
                realidad)
            </p>
            <Button><h3>Es para mi?</h3></Button>
        </section>

        <section class="flex flex-col bg-negro px-6 gap-4 py-8 text-blanco">
            <h2>Controlemos como te ven!</h2>
            <p>
                Lo podemos hacer? Lo podemos hacer! Y estos son items que debes
                tener en cuenta:
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>Tu cliente:</h3>
            <p>
                Si no sabes quién es tu cliente, entonces lo vamos a descubrir.
                Porque, no le podemos vender a todo el mundo!
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>Valores:</h3>
            <p>
                Si no definiste como es tu marca, entonces al fin vas a tener un
                camino claro que guíe tus pasos, así podremos controlar como
                querés que te vean.
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>A un tap de distancia:</h3>
            <p>
                Durante todo el proceso vas a tener mi contacto para despejar
                cualquier duda.
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>No vas a estar solo:</h3>
            <p>
                No te voy a mentir, el crear una marca no se hace de una semana
                a la otra y aprender a utilizar correctamente tu marca tampoco,
                pero no te preocupes, yo te enseño como! Te enseño como utilizar
                correctamente la hermosisima marca que vas a tener. De nada
                sirve invertir en algo si no sabes como usarlo, cierto?
            </p>
            <hr class="border-t border-blanco/70" />
        </section>
        <section
            class="flex flex-col gap-4 justify-center px-6 py-8 border-b border-negro/70"
        >
            <img
                class="w-full aspect-square"
                width="320px"
                src="https://img.freepik.com/foto-gratis/surtido-escritorio-laptop_23-2148541547.jpg?w=740&t=st=1684534934~exp=1684535534~hmac=b7d11b4fb07a171c14ea16b5f46e22da6a86dc2b2bd05d10a56764976d6c44b1"
            />
            <h2>Ahorrate el precio de una mala decisión...</h2>
            <p>
                Llevo formandome en comunicación visual desde los 14 años.
                Composición, lenguaje, marketing, ventas, estética y más, son
                parte de mí. Estas habilidades estan a disposición de quienes
                contratan mis servicios hace ya varios años, para que puedan
                controlar como quieren ser percibidos, como quieren mostrarse
                para ser la mejor opción y así vender más.
            </p>
            <p>
                No te prometo una solución mágica, porque una identidad visual
                no puede con todo. Te prometo que si colocás tus sueños y
                colaboración en mis manos, voy a convertir tu marca en una
                totalmente reconocible y que le hable directamente a tus
                clientes, allí la magía sucedera sola, porque todo “primero
                entra por los ojos”.
            </p>
        </section>
        <section class="flex flex-col gap-4 justify-center p-4">
            <div class="bg-negro text-blanco p-4">
                <h2 class="text-center">¿Estas listo para una nueva imagen?</h2>
            </div>
            <p>
                Este servicio no es para todo el mundo, pero si tu negocio
                cumple con los siguientes puntos, una identidad visual puede
                serte de muchisisima ayuda:
            </p>
            <p>
                -Tenes un negocio o marca personal y buscás visibilidad. <br /> -Buscas
                que confién en tu marca para aumentar tus ventas. <br />-Buscas
                destacar sobre tu competencia. <br /> -Deseas que tus clientes te
                recuerden-Pretendes transmitir profesionalismo <br />-Amás tu
                marca y queres verla crecer.
            </p>
            <Button><h3>Hablemos!</h3></Button>
        </section>
        <section class="p-4 mb-4">
            <header class="mb-4">
                <h2 class="font-extrabold">Preguntas Frecuentes</h2>
            </header>
            <Accordion
                client:visible
                title="¿Cuánto se demoran en diseñar?"
                content="El tiempo mínimo estimado es de 40 días, esto variará de acuerdo a la complejidad del proyecto. Este item estará detallado en el presupuesto para su tranquilidad."
            />
            <Accordion
                client:visible
                title="¿Puedo pagar en cuotas?"
                content="El crear una identidad lleva aproximadamente un mes o más. Este servicio se abonará en varios pagos durante el transcurso del mes."
            />
            <Accordion
                client:visible
                title="¿Qué sucede si el diseño final no me gusta?"
                content="Me encargué de construir una metodología de trabajo conjunta que aumenta las probabilidades de un resultado satisfactorio, más que cualquier otro proceso de trabajo. Se logra gracias al trabajo conjunto, un buen briefing, la escucha, la investigación, las reuniones, las colaboraciones. Arriba podes encontrar el testimonio de uno de mis clientes donde explica cual es la metodología de trabajo y como propicia la acertividad en el resultado."
            />
            <Accordion
                client:visible
                title="¿Qué incluye este servicio?"
                content="Lo que incluya la identidad dependerá de las necesidades del negocio. Sin embargo, lo mínimo con lo que debe contar es el logo y sus variantes, la paleta de colores y la/s tipografía/s. Luego se podría agregar la iconografía, el estilo fotográfico, ilustraciones, diapositivas, posts, firmas, y más."
            />
            <Accordion
                client:visible
                title="¿Cuánto cuesta una identidad?"
                content="Hacemos presupuestos especiales para cada proyecto. No sabrás el monto específico hasta tener una reunión. Sin embargo, el precio base es de 400 dolares."
            />
            <Accordion
                client:visible
                title="¿Crean el nombre de la marca?"
                content="Si, ofrecemos el servicio de naming."
            />
        </section>
    </div>
</MainLayout>
