---
import Button from "../components/ui/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="identidad visual">
    <div class="flex flex-col gap-3 justify-center">
        <section class="flex flex-col gap-4 justify-center p-4">
            <img class="w-full" width="320px" src="/portrait-melina.jpg" />
            <h1 class="">Identidad Visual</h1>
            <p>
                Obtené una marca que genere ventas, confianza en tus clientes,
                que sea única y cuente una historia, con un proceso 100%
                confiable y transparente, en que se tendrán en cuenta tus ideas.
            </p>
            <div class="flex w-full flex-wrap gap-3 justify-start">
                <Button><h3>Es para mi?</h3></Button>
                <Button><h3>Lo necesito</h3></Button>
            </div>
        </section>
        <section class="flex flex-col bg-negro p-4 gap-4 py-8 text-blanco">
            <h2>Identidad que no vende.</h2>
            <p>
                Si llegaste hasta aquí es porque, o no tenés una identidad o la
                que tenés no te agrada. Pero te preguntas: y si no me gusta como
                queda? y si no lo puedo pagar? y si no tienen en cuenta mis
                gustos? y si no lo necesito? y si otro lo hace más barato? y si
                pago y no me lo entregan?
            </p>
            <p>
                Te entiendo, todos mis clientes llegan con los mismos miedos. Te
                tengo buenas noticias, a pesar de llegar con esos miedos, me
                contratan felices. Porque creé un metodo de trabajo que asegura
                al 100% tu tranquilidad.
            </p>
        </section>
        <section class="flex flex-col gap-4 justify-center p-4">
            <h3>Alex creador de Doisi te comparte su experiencia:</h3>
            <img class="w-full" width="320px" src="/portrait-melina.jpg" />
            <h2>Te prometo que...</h2>
            <p>
                -Vas a ser participe activo del proceso (sino, no puedo
                trabajar). <br /> -Tu marca va a transmitir confianza y profesionalismo.
                <br />
                -Vas a tener una marca única, estética, funcional, hecha a medida-Recibirás
                todo el trabajo en tiempo y forma.
            </p>
            <p>
                Pero, si creés que vas a recibir el mismo resultado tanto por
                100 dolares como por 1000 dolares, entonces contratá al de 100
                dolares (aunque ahí puede que tus miedos se conviertan en
                realidad)
            </p>
            <Button><h3>Es para mi?</h3></Button>
        </section>

        <section class="flex flex-col bg-negro p-4 gap-4 py-8 text-blanco">
            <h2>Controlemos como te ven!</h2>
            <p>
                Lo podemos hacer? Lo podemos hacer! Y estos son items que debes
                tener en cuenta:
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>Tu cliente:</h3>
            <p>
                Si no sabes quién es tu cliente, entonces lo vamos a descubrir.
                Porque, no le podemos vender a todo el mundo!
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>Valores:</h3>
            <p>
                Si no definiste como es tu marca, entonces al fin vas a tener un
                camino claro que guíe tus pasos, así podremos controlar como
                querés que te vean.
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>A un tap de distancia:</h3>
            <p>
                Durante todo el proceso vas a tener mi contacto para despejar
                cualquier duda.
            </p>
            <hr class="border-t border-blanco/70" />
            <h3>No vas a estar solo:</h3>
            <p>
                No te voy a mentir, el crear una marca no se hace de una semana
                a la otra y aprender a utilizar correctamente tu marca tampoco,
                pero no te preocupes, yo te enseño como! Te enseño como utilizar
                correctamente la hermosisima marca que vas a tener. De nada
                sirve invertir en algo si no sabes como usarlo, cierto?
            </p>
            <hr class="border-t border-blanco/70" />
        </section>
        <section
            class="flex flex-col gap-4 justify-center p-4 pb-7 border-b border-negro/70"
        >
            <img
                class="w-full aspect-square"
                width="320px"
                src="https://img.freepik.com/foto-gratis/surtido-escritorio-laptop_23-2148541547.jpg?w=740&t=st=1684534934~exp=1684535534~hmac=b7d11b4fb07a171c14ea16b5f46e22da6a86dc2b2bd05d10a56764976d6c44b1"
            />
            <h2>Ahorrate el precio de una mala decisión...</h2>
            <p>
                Llevo formandome en comunicación visual desde los 14 años.
                Composición, lenguaje, marketing, ventas, estética y más, son
                parte de mí. Estas habilidades estan a disposición de quienes
                contratan mis servicios hace ya varios años, para que puedan
                controlar como quieren ser percibidos, como quieren mostrarse
                para ser la mejor opción y así vender más.
            </p>
            <p>
                No te prometo una solución mágica, porque una identidad visual
                no puede con todo. Te prometo que si colocás tus sueños y
                colaboración en mis manos, voy a convertir tu marca en una
                totalmente reconocible y que le hable directamente a tus
                clientes, allí la magía sucedera sola, porque todo “primero
                entra por los ojos”.
            </p>
        </section>
        <section class="flex flex-col gap-4 justify-center p-4">
            <img
                class="w-full aspect-square"
                width="320px"
                src="https://img.freepik.com/foto-gratis/surtido-escritorio-laptop_23-2148541547.jpg?w=740&t=st=1684534934~exp=1684535534~hmac=b7d11b4fb07a171c14ea16b5f46e22da6a86dc2b2bd05d10a56764976d6c44b1"
            />
            <h2>Ahorrate el precio de una mala decisión...</h2>
            <p>
                Llevo formandome en comunicación visual desde los 14 años.
                Composición, lenguaje, marketing, ventas, estética y más, son
                parte de mí. Estas habilidades estan a disposición de quienes
                contratan mis servicios hace ya varios años, para que puedan
                controlar como quieren ser percibidos, como quieren mostrarse
                para ser la mejor opción y así vender más.
            </p>
            <p>
                No te prometo una solución mágica, porque una identidad visual
                no puede con todo. Te prometo que si colocás tus sueños y
                colaboración en mis manos, voy a convertir tu marca en una
                totalmente reconocible y que le hable directamente a tus
                clientes, allí la magía sucedera sola, porque todo “primero
                entra por los ojos”.
            </p>
        </section>
    </div>
</MainLayout>
