---
import MainLayout from "../layouts/MainLayout.astro";
import "../../src/styles/global.css";
import Hero from "@components/home/Hero.astro";
import ReviewsSection from "@components/home/ReviewsSection.astro";
---

<MainLayout
	description={"sitio de melina batalla, comunicadora visual"}
	title={"Melina Batalla"}
>
	<main>
		<Hero />
		<ReviewsSection />
		
	</main>
</MainLayout>
