---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	description={"sitio de melina batalla, comunicadora visual"}
	title={"Melina Batalla"}
>
	<body>
		<div class="flex justify-centerh-full p-5 w-full">
			<div class="w-full flex flex-row gap-5 justify-around items-center">
				<div class="flex justify-center">
					<div class="flex flex-col gap-2">
						<h1 class="text-5xl font-bold text-left">
							Welcome! <br />
							Soy Melina Batalla
						</h1>
						<p class="text-center text-xl">
							Creemos universos únicos a la medida de tu marca.
						</p>
						<button
							class="bg-gray-900 text-xl text-white p-2 w-fit py-2 px-2"
						>
							Hablemos!
						</button>
					</div>
				</div>
				<div class="bg-gray-500 w-1/2 h-[700px]"></div>
			</div>
		</div>
	</body>
</MainLayout>
