---
import MainLayout from "@components/layouts/MainLayout.astro";
import App from "@components/layouts/Iniciar-sesion";
const invitationkey = Astro.url.searchParams.get("__clerk_ticket");

---

<MainLayout
    description={"sitio de melina batalla, comunicadora visual"}
    title={"Melina Batalla"}
>
    <div class="h-screen flex justify-center items-center">
        <App invitationkey={invitationkey} client:only />
    </div>
</MainLayout>

