---
import { SignIn, SignedIn } from "@clerk/clerk-react";
import SignInButton from "@components/auth/SignInButton.astro";
import SignedIns from "@components/auth/SignedIn.astro";
import SignInComponent from "@components/auth/SignInComponent.astro";

import SignedOut from "@components/auth/SignedOut.astro";
import UserButton from "@components/auth/UserButton.astro";
import MainLayout from "@components/layouts/MainLayout.astro";
import App from "@components/layouts/App";
---

<MainLayout
    description={"sitio de melina batalla, comunicadora visual"}
    title={"Melina Batalla"}
>
    <div class="h-screen flex justify-center items-center">
        <App client:only />


        <!-- <SignedOut>
            <SignInComponent />
        </SignedOut> -->
    </div>
</MainLayout>

<script is:inline>
    import { initializeClerk } from "../../lib/clerk";
    initializeClerk();
</script>
