---
import Hero from "@components/root-program/Hero.astro";
import OfferSection from "@components/root-program/OfferSection.astro";
import BuyNowSection from "@components/root-program/BuyNowSection.astro";

import MainLayout from "@components/layouts/MainLayout.astro";
import Cart from "@components/root-program/Cart.astro";

export const prerender = true;
---

<MainLayout
    description={"Vende sin sacrificar tu paz. Te enseño a como usar redes sociales para vender tus servicios sin métodos complejos"}
    title={"Root Program | Nazarena Batalla"}
>
    <div class="bg-white rounded-t-lg mx-auto px-0 items-center max-w-screen-lg">
        <Hero />
        <h2 class="p-4 xs:p-6">
            Si compras <strong> “Root Program</strong> tendrás
            <strong>acceso inmediato</strong> a:
        </h2>
        <OfferSection  />
        <BuyNowSection />
        <Cart />
    </div>
</MainLayout>

<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
