---
import Hero from "@components/root-program/Hero.astro";
import OfferSection from "@components/root-program/OfferSection.astro";
import BuyNowSection from "@components/root-program/BuyNowSection.astro";

import MainLayout from "@components/layouts/MainLayout.astro";
import { Button } from "@components/ui/button";
import Cart from "@components/root-program/Cart.astro";
import { db, Course, Lesson, eq } from "astro:db";

const lessons = await db.select().from(Lesson).where(eq(Lesson.courseId, 1));
export const prerender = true;
---

<MainLayout
    description={"Vende sin sacrificar tu paz. Te enseño a como usar redes sociales para vender tus servicios sin métodos complejos"}
    title={"Root Program | Nazarena Batalla"}
>
    <div class="bg-white xxl:my-8 mx-auto px-0 items-center max-w-screen-lg">
        <Hero />
        <h2 class="p-6 xs:p-10">
            Si aprovechas <strong> “Root Program</strong> tendrás
            <strong>acceso inmediato</strong> a lo siguiente:
        </h2>
        <OfferSection lessons={lessons} />
        <BuyNowSection />
        <Cart />
    </div>
</MainLayout>

<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
