---
import CourseHero from "@components/courses/CourseHero.astro";
import CourseForm from "@components/courses/CourseForm";
import Benefits from "@components/courses/Benefits.astro";
import Witch from "@components/courses/Witch.astro";
import Includes from "@components/courses/Includes.astro";
import MainLayout from "@components/layouts/MainLayout.astro";
import Nav from "@components/nav/Nav.astro";
import { Button } from "@components/ui/button";

const res = await fetch("https://connect.mailerlite.com/api/groups", {
    headers: {
        "Content-Type": "application/json",
        accept: "application/json",
        Authorization: `Bearer ${import.meta.env.PUBLIC_MAILERLITE_API_KEY}`,
    },
});

const { data: groups } = (await res.json()) as {
    data: { id: string; name: string }[];
};

const coursegruop = groups.find((group) => group.name === "Pagina de Clases") as {
    id: string;
    name: string;
};

console.log(coursegruop);
---

<MainLayout
    description={"En estas 4 clases aprenderás a identificar eso que te hace única, poderosa y diferente."}
    title={"Transforma tu realidad con Melina Batalla"}
>
    <Nav>
        <a href="/transforma-tu-realidad#courseForm"
            ><Button size={"sm"} className="font-semibold h-6">
                Obener acceso
            </Button></a
        >
    </Nav>
    <main class="w-full flex flex-col gap-4">
        <CourseHero />
        <section class="h-full p-6 sm:p-10 w-full bg-blanco rounded-md">
            <div
                class="w-full px-0 flex flex-col items-center gap-5 text-negro"
            >
                <div
                    id="courseForm"
                    class="flex w-full justify-center max-w-3xl flex-col gap-4"
                >
                    <h3 class="text-xl md:text-4xl">
                        REGíSTRATE AHORA Y ACCEDE GRATIS A LAS CLASES QUE
                        TRANSFORMARAN TU REALIDAD
                    </h3>

                    <CourseForm groupId={coursegruop.id} client:load />
                </div>
            </div>
        </section>
        <Benefits />
        <Witch />
        <Includes />
        <section class="h-full p-6 sm:p-10 w-full bg-blanco rounded-md">
            <div
                class="w-full px-0 flex flex-col items-center gap-5 text-negro"
            >
                <div
                    class="flex w-full text-center justify-center max-w-3xl flex-col gap-4"
                >
                    <h3 class="text-xl md:text-4xl">
                        REGíSTRATE AHORA Y ACCEDE GRATIS A LAS CLASES QUE
                        TRANSFORMARAN TU REALIDAD
                    </h3>
                    <p>«Estas a 4 clases de cambiar tu realidad»</p>
                    <CourseForm groupId="1111" client:load />
                </div>
            </div>
        </section>

        <section class="h-full p-6 sm:p-10 w-full bg-blanco rounded-md">
            <div
                class="w-full px-0 flex flex-col items-center gap-5 text-negro"
            >
                <div
                    class="flex w-full text-center justify-center max-w-3xl flex-col"
                >
                    <h3 class="text-xl md:text-4xl md:whitespace-nowrap text-">
                        SI SENTÍS QUE TU <span
                            class="bg-yema whitespace-nowrap px-1 rounded-lg"
                            >PODER ESTÁ DORMIDO...</span
                        >
                    </h3>
                    <p class="text-lg md:text-2xl">
                        y te está costando definir claramente eso que te hace
                        <span class="bg-yema whitespace-nowrap px-1 rounded-lg"
                            >única, poderosa y diferente
                        </span>, estas clases te ayudarán a adquirir
                        herramientas prácticas para identificar eso que te hace
                        <span class="bg-yema whitespace-nowrap px-1 rounded-lg"
                            >inigualable y digna</span
                        > de <span
                            class="bg-yema whitespace-nowrap px-1 rounded-lg"
                            >admirar a vos y a tu marca.</span
                        >
                    </p>
                </div>
            </div>
        </section>
    </main>
</MainLayout>
