---

---

<section class="w-full flex flex-col justify-start gap-10">
    <div class="w-full flex flex-col items-center gap-4">
        <div id="embed-iframe"></div>
    </div>
    <script>
        import { auth } from "@lib/authStore";

        document.addEventListener("astro:page-load", (ev) => {
            auth.subscribe((clerk) => {
                if (!!clerk && clerk?.loaded) {
                    const user = clerk.user;
                    const bonus = user?.publicMetadata?.bonus;
                    if (bonus === "true") {
                        window.onSpotifyIframeApiReady = (IFrameAPI: any) => {
                            const element =
                                document.getElementById("embed-iframe");
                            const options = {
                                uri: "spotify:episode:1mihbisvtfa1qYBp0rWJHt",
                            };
                            const callback = (EmbedController: any) => {};
                            IFrameAPI.createController(
                                element,
                                options,
                                callback,
                            );
                        };
                    }
                }
            });
        });
    </script>
</section>
<script src="https://open.spotify.com/embed/iframe-api/v1" defer></script>
