---

---

<section
    class="h-full max-w-[1400px] mx-auto p-6 w-full flex justify-center flex-col md:flex-row md:justify-between md:py-10"
>
    <h2 class="text-xl md:text-3xl font-medium pb-2">
        ¿Qué vas a conseguir al leer este ebook?
    </h2>
    <p class="text-lg md:text-xl font-light pb-4">
        En este ebook, aprenderás a definir tu propósito para comunicar un
        mensaje auténtico. Descubrirás cómo conectar con tu audiencia y
        construir tu marca personal.
    </p>
    <p class="text-lg md:text-xl font-light pb-4">
        También te guiaré en el paso a paso para definir tu propósito real y
        lograr construir un mensaje auténtico que te permita transmitir lo que
        realmente quieres.
    </p>
</section>

<section
    class="h-full max-w-[1400px] mx-auto p-6 w-full flex justify-center flex-col md:flex-row md:justify-between md:py-10"
>
    <h2 class="text-xl md:text-3xl font-medium pb-2">
        <i class="fas fa-bullseye text-blue-500"></i> DEFINÍ TU PROPÓSITO PARA
        COMUNICAR UN MENSAJE AUTÉNTICO.
    </h2>
    <div class="flex flex-col md:flex-row items-center justify-center">
        <div class="flex flex-col items-center md:items-start md:mr-4">
            <i class="fas fa-question-circle text-blue-500 text-2xl mb-2"></i>
            <p class="text-lg md:text-xl font-light pb-4">
                Seguro pensaste en algún momento "No sé bien qué estoy haciendo,
                sé que quiero ayudar y brindar mis servicios, construir mi marca
                personal, pero no sé qué decir, como decirlo, como conectar"
                "Solo comparto tips, pero siento que no estoy consiguiendo
                transmitir lo que quiero".
            </p>
        </div>
        <div class="flex flex-col items-center md:items-start md:mr-4">
            <i class="fas fa-exclamation-circle text-blue-500 text-2xl mb-2"
            ></i>
            <p class="text-lg md:text-xl font-light pb-4">
                Esos problemas surgen por no tener bien definidas tus bases,
                ¿Cuál es tu propósito? ¿Cómo querés que te vea tu audiencia?
                ¿Cuál es tu historia?
            </p>
        </div>
        <div class="flex flex-col items-center md:items-start">
            <i class="fas fa-lightbulb text-blue-500 text-2xl mb-2"></i>
            <p class="text-lg md:text-xl font-light pb-4">
                En esta guía te comparto el paso a paso que aplico en mis
                mentorías para definir tu propósito real y lo que logres
                construir un mensaje auténtico.
            </p>
        </div>
    </div>
</section>
