---
import { Button } from "@components/ui/button";
---

<section class="h-4/5 p-4 flex justify-center flex-col md:flex-row md:justify-between gap-6 sm:p-10">
    <header class="">
        <h2 class="text-3xl">RESEÑAS DEL E-BOOK</h2>
        <Button className="w-full">Quiero el e-book</Button>
    </header>
    <div class="flex flex-col justify-center">
        <figure class="max-w-screen-sm text-left">
            <figcaption class="flex items-left mt-6 space-x-3">
                <div class="flex items-center divide-x-2 divide-gray-500">
                    <cite class="pr-3 font-medium text-gray-900"
                        >@marcossmartin</cite
                    >
                </div>
            </figcaption>

            <blockquote>
                <p class="text-2xl italic font-medium text-gray-900">
                    {
                        "!Muy bunea data! me parecieron super útiles los ejercicios para saber como encarar el mensaje de una marca personal."
                    }
                </p>
            </blockquote>
        </figure>
        <figure class="max-w-screen-sm text-left">
            <figcaption class="flex items-left mt-6 space-x-3">
                <div class="flex items-center divide-x-2 divide-gray-500">
                    <cite class="pr-3 font-medium text-gray-900"
                        >@esteban.escribe - Copywriter</cite
                    >
                </div>
            </figcaption>

            <blockquote>
                <p class="text-2xl italic font-medium text-gray-900">
                    {
"Me encantó lo bien redactado que está. Gran e-book. Te vuela la cabeza cuando lo entendés"
  }
                </p>
            </blockquote>
        </figure>
    </di>
</section>
