---
import { Image } from "astro:assets";
import melinaLogo from "@assets/melina-batalla-logo.png";
const links = [
    {
        text: "Youtube",
        href: "https://www.youtube.com/@melina.batalla/videos",
    },
    {
        text: "Tiktok",

        href: "https://www.tiktok.com/@melina.batalla.d",
    },
    {
        text: "Instagram",

        href: "https://www.tiktok.com/@melina.batalla.d",
    },
    {
        text: "Whatsapp",
        href: "https://api.whatsapp.com/send?phone=543774400625&text=Hola%20Meli!%20Me%20gustaría%20info%20sobre",
    },
];
---

<footer>
    <div class="bg-negro p-4 flex  flex-col gap-2 rounded-t-lg">
        <Image class="self-center" alt={'melina batalla logo'}
         src={melinaLogo} height={32} format="webp"/>
        <div class="flex flex-col py-2 ">
            <span class="text-blanco text-center">Importante: Melina Batalla no garantiza resultados por el uso de este recurso. </span>
            <span class="text-blanco text-center">La interpretacion y aplicacion son responsabilidad del usuario</span>

            </div>
            <!-- <div class="flex max-w-3xl self-center w-full justify-between  text-blanco">
            {links.map(({ text, href }) => <a href={href}>{text}</a>)}
        </div> -->
        <hr class="opacity-50 border-blanco" />
        <span class="block text-sm text-gray-200 text-center"
            >© 2023 Melina Batalla™ All Rights Reserved. &nbsp; </span
        >
        <a
            href="https://santiagoavilez.com"
            class="block text-sm text-gray-200 text-center hover:underline">  Build by: Santiago Avilez</a
        >
    </div>
</footer>
