---
import { Image } from "astro:assets";
import melinaLogo from "@assets/melina-batalla-logo.png";
const links = [
    {
        text: "Youtube",
        href: "https://www.youtube.com/@melina.batalla/videos",
    },
    {
        text: "Tiktok",

        href: "https://www.tiktok.com/@melina.batalla.d",
    },
    {
        text: "Instagram",

        href: "https://www.tiktok.com/@melina.batalla.d",
    },
    {
        text: "Whatsapp",
        href: "https://api.whatsapp.com/send?phone=543774400625&text=Hola%20Meli!%20Me%20gustaría%20info%20sobre",
    },
];
---

<footer class="mt-10">
    <div class="bg-negro p-6 w-full text-sm md:text-base rounded-t-lg">
        <div
            class="flex flex-col max-w-[1400px] mx-auto md:flex-row md:justify-between md:items-start w-full"
        >
            <Image
                class=""
                alt={"melina batalla logo"}
                src={melinaLogo}
                height={32}
                format="webp"
            />
            <div class="flex text-left flex-col py-2 md:py-0">
                <span class="text-blanco"
                    >Importante: Melina Batalla no garantiza resultados por el
                    uso de este recurso.
                </span>
                <span class="text-blanco"
                    >La interpretación y aplicación son responsabilidad del
                    usuario.</span
                >
            </div>

            <!-- <div class="flex max-w-3xl self-center w-full justify-between  text-blanco">
            {links.map(({ text, href }) => <a href={href}>{text}</a>)}
        </div> -->
            <hr class="opacity-50 border-blanco" />
            <div class="flex">
                <span class="block text-sm text-gray-200 text-center"
                    >© 2023 Melina Batalla™ All Rights Reserved. &nbsp;
                </span>
                <a
                    href="https://santiagoavilez.com"
                    class="block text-sm text-gray-200 text-center hover:underline"
                >
                    Build by: Santiago Avilez</a
                >
            </div>
        </div>
    </div>
</footer>
