<div class="flex justify-center">
    <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold text-left">
            Welcome! <br />
            Soy Melina Batalla
        </h1>
        <p class="text-center text-xl">
            Creemos universos únicos a la medida de tu marca.
        </p>
        <button class="bg-gray-900 text-xl text-white p-2 w-fit py-2 px-2">
            Hablemos!
        </button>
    </div>
</div>
