---

---

<section class="h-full p-6 sm:p-10 bg-negro rounded-md">
    <div
        class="container max-w-6xl px-0 flex flex-col md:flex-row justify-evenly items-start gap-5 text-slate-100"
    >
        <div class="flex max-w-lg flex-col gap-2">
            <h3 class="text-xl md:text-4xl">
                SI TOMO ESTAS CLASES ¿QUÉ LOGRARÉ TRANSFORMAR?
            </h3>
        </div>

        <ul class="flex flex-col gap-4 max-w-sm">
            <li>
                - Descubrir y/o definir tu autenticidad y su poder para
                utilizarlo en tu marca personal.
            </li>
            <li>
                - Definir un mensaje claro que llegue directo a quienes buscás
                ayudar.
            </li>
            <li>
                - Diferenciarte como emprendedora holística desde el poder de tu
                autenticidad. Transmitir tu mensaje desde quien sos, desde tu
                historia personal.
            </li>
        </ul>
    </div>
</section>
