---

---

<section class="h-full p-6 sm:p-10 bg-negro rounded-md">
    <div
        class="flex flex-col justify-center relative shrink-0 box-border h-auto bg-zinc-950"
    >
        <div class="h-auto text-3xl text-blanco mt-5 mx-auto">
            <h1 class="text-4xl md:text-6xl text-center font-medium">
                ¿TIENES PROBLEMAS AL TRANSMITIR TU MENSAJE?
            </h1>
        </div>
        <div class="text-blanco mt-3 mx-auto">
            <p class="text-center">NO LLEGASTE AQUÍ POR CASUALIDAD...</p>
        </div>
    </div>
</section>
