---
import { Image } from "astro:assets";
import melinaPortrait from "@assets/alquimista.png";
---

<section class="h-full p-6 sm:p-10 rounded-md">
    <div
        class="container max-w-6xl px-0 flex flex-col md:flex-row justify-evenly items-start gap-5 text-negro"
    >
        <div class="flex max-w-lg flex-col gap-2">
            <Image
                alt={"Alquimista del exito: melina batalla"}
                src={melinaPortrait}
                height={450}
                format="webp"
            />
        </div>

        <div class="flex flex-col gap-4 max-w-sm">
            <h3 class="text-xl md:text-4xl">NAMASTÉ MI BRUJA! ¿Quién soy?</h3>

            <p>
                Toda mi vida me la pasé con las narices dentro de libros y con
                la mente en "aprendizajes de la vida". Estudié de todo y más
                hasta que encontré mi propósito y objetivo: Ayudar a
                emprendedoras holísticas a vender sus servicios usando redes
                sociales, porque son ustedes las encargadas de despertar a la
                humanidad. En estas 4 clases como tu mentora, te voy a compartir
                mi experiencia al construir un negocio desde la fórmula:
                estrategía + espíritu.
            </p>
        </div>
    </div>
</section>
