---
import Nav from "../components/nav/Nav.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="h-screen bg-gray-100">
			<Nav />
			<body>
				<slot />
			</body>
		</div>
	</body>
</html>
