---
import Nav from "../components/nav/Nav.astro";
import "@fontsource/poppins";
import "../../src/styles/global.css";
import Footer from "../components/Footer.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/MBlogo.svg" />
		<title>{title}</title>
	</head>
	<body class="h-screen bg-blanco">
		<main>
			<Nav />
			<body>
				<slot />
			</body>
			<Footer />
		</main>
	</body>
</html>
