---
---

<div class="sticky top-0 px-auto flex justify-center border-b border-gray-900">
    <div class="flex items-center md:container py-1 h-16 justify-between">
        <div class="">LOGO</div>
        <div class="flex justify-center gap-4">
            <div>Sobre Mi</div>
            <div>Experiencias</div>
        </div>
        <div class="bg-yellow-600 p-2">Hablemos</div>
    </div>
</div>
