---
import { cn } from "@lib/utils";

const { className } = Astro.props;
---

<div
    class={cn(
        `auth-signed-in hidden  justify-center w-full `,
        className ?? ""
    )}
>
    <slot />
</div>

<script>
    import { auth } from "../../lib/authStore";
    document.addEventListener("astro:page-load", () => {
        // This only runs once.
        auth.subscribe((clerk) => {
            if (!!clerk && clerk?.loaded) {
                const signedIn = document.querySelectorAll(".auth-signed-in")!;
                if (!!clerk.user) {
                    signedIn.forEach((el) => {
                        el.classList.remove("hidden");
                        el.classList.add("flex");
                    });
                } else {
                    signedIn.forEach((el) => {
                        el.classList.add("hidden");
                        el.classList.add("flex");
                    });
                }
            }
        });
    });
</script>
