---
import { Button } from "@components/ui/button";
---

<Button id="auth-sign-in-button" className="auth-sign-in-button">
    Iniciar sesión
</Button>
<div id="mountsing"></div>

<script>
    import { auth } from "../../lib/authStore";

    auth.subscribe((clerk) => {
        if (clerk !== null && clerk.isReady()) {

            const signInButton = document.getElementById("auth-sign-in-button");
            const divsing = document.getElementById(
                "amountsing",
            ) as HTMLDivElement;

            const signInButtons = document.querySelectorAll(
                ".auth-sign-in-button",
            )!;
            signInButtons.forEach((el) => {
                el.addEventListener("click", () => {
                    clerk.openSignIn({
                        afterSignInUrl: "/cursos/root-program",
                        afterSignUpUrl: "/cursos/root-program",
                    });
                });
            });
            if (signInButton) {
                signInButton.addEventListener("click", () => {
                    clerk.openSignIn({
                        afterSignInUrl: "/cursos/root-program",
                        afterSignUpUrl: "/cursos/root-program",
                    });
                });
            }
        }
    });
</script>
