---
const { className } = Astro.props;
---

<div id="sign-out-button" class:list={["cursor-pointer", className]}>
    <slot />
</div>

<script>
    import { auth } from "@lib/authStore";
    import { initializeClerk } from "@lib/clerk";
    document.addEventListener("astro:page-load", () => {
        auth.subscribe((clerk) => {
            if (clerk?.loaded) {
                const signOutButton =
                    document.getElementById("sign-out-button");
                console.log("signOutButton", signOutButton);
                signOutButton?.addEventListener("click", () => {
                    console.log("click signOutButton");

                    clerk
                        ?.signOut()
                        .then(() => {
                            console.log("signOut");
                            auth.set(null);
                            initializeClerk();

                            // window.location.reload();
                            // navigate("/iniciar-sesion");
                        })
                        .catch((error) => {
                            console.log("error", error);
                        });
                });
            }
        });
    });
</script>
