<div id="sign-in"></div>

<script>
    import { auth } from "../../lib/authStore";

    auth.subscribe((clerk) => {
        if (clerk !== null && clerk.isReady()) {
            const signInDiv = document.getElementById("sign-in")!;

            clerk.mountSignIn(signInDiv as HTMLDivElement, {
                afterSignInUrl: "/cursos/root-program",
                afterSignUpUrl: "/cursos/root-program",
                appearance: {
                    elements: {
                        headerTitle: {
                            content: "none",
                            "&:after": {
                                content: "Iniciar",
                            },

                            "&::after": {
                                content: "Iniciar",
                            },
                        },
                    },
                },
            });
        }
    });
    const headerTitle = document.querySelector(".cl-headerTitle")!;
    if (headerTitle) {
        headerTitle.innerHTML = "Iniciar";
    }
</script>
