---
import { Button } from "@components/ui/button";
---

<Button id="auth-sign-in-button" className="auth-sign-in-button">
    Iniciar sesión
</Button>

<script>
    import { auth } from "@lib/authStore";
    auth.subscribe((clerk) => {
        if (clerk?.loaded) {
            const signInButton = document.getElementById(
                "auth-sign-in-button",
            )!;

            const signInButtons = document.querySelectorAll(
                ".auth-sign-in-button",
            )!;
            const status = "__clerk_status";
            const statusParam = new URL(window.location.href).searchParams.get(
                status,
            );

            const param = "__clerk_ticket";
            const ticket = new URL(window.location.href).searchParams.get(
                param,
            );
            if (ticket || statusParam === "sign_up") {
                console.log("sign up");

                signInButtons.forEach((el) => {
                    console.log("el");
                    el.addEventListener("click", () => {
                        console.log("sign up click");
                        clerk.openSignUp({
                            afterSignInUrl: "/cursos/root-program",
                            afterSignUpUrl: "/cursos/root-program",
                            routing: "virtual",
                        });
                    });
                });

                clerk.openSignUp({
                    path: "/cursos/root-program",
                    redirectUrl: "/cursos/root-program",
                    routing: "virtual",
                });
            } else {
                console.log("sign in");
                signInButtons.forEach((el) => {
                    el.addEventListener("click", () => {
                        console.log("click");
                        clerk.openSignIn({
                            afterSignInUrl: "/cursos/root-program",
                            afterSignUpUrl: "/cursos/root-program",
                        });
                    });
                });
                if (signInButton) {
                    signInButton.addEventListener("click", () => {
                        console.log("click");
                        clerk.openSignIn({
                            afterSignInUrl: "/cursos/root-program",
                            afterSignUpUrl: "/cursos/root-program",
                        });
                    });
                }
            }
        }
    });
</script>
