---

---

<div transition-persist id="auth-user-button"></div>

<script>
    import { auth } from "../../lib/authStore";

    auth.subscribe((clerk) => {
        console.log("auth changed", clerk);

        if (clerk !== null && clerk.isReady()) {
            console.log("Clerk is ready", clerk);
            const userButton =
                document.querySelector<HTMLDivElement>("#auth-user-button")!;
            clerk.mountUserButton(userButton, {
                afterSignOutUrl: "/cursos/root-program",
            });
        }
    });
    document.addEventListener("astro:page-load", () => {
        console.log("astro is ready");
        auth.subscribe((clerk) => {
            console.log("auth changed", clerk);

            if (clerk !== null && clerk.isReady()) {
                console.log("Clerk is ready", clerk);
                const userButton =
                    document.querySelector<HTMLDivElement>(
                        "#auth-user-button",
                    )!;
                clerk.mountUserButton(userButton, {
                    afterSignOutUrl: "/cursos/root-program",
                });
            }
        });
    });
</script>
